* {
    /* disable selecting */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.App {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 3vh;
}

html, body {
    overflow: hidden;
}

.bgImg {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    overflow-x: hidden;
    white-space: nowrap;
    height: 100%;
    z-index: -1;
    /* Darken the img */
    filter: brightness(0.25);
}

.wrapper {
  display: flex;
  justify-content: center;
}

@keyframes slideL {
    0% {
        transform: translateX(-40px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes slideR {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-40px);
    }
}

.hoverLink {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.5s;
    margin: 0 10px;
}

/* animated underline hover effect */
.hoverLink::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}

.hoverLink:hover::after {
    width: 100%;
    transition: width .3s;
}



.hoverButton {
    transition: 1s !important;
    background-color: #4B006E !important;
    color: #ffffff !important;
}

.hoverButton:hover  {
    transition: 0.5s !important;
    background-color: #690099 !important;
}

.hoverButton:disabled {
    background-color: grey !important;
    color: #ffffff !important;
}

/* A flowing animation that goes from left to right and keeps going in the same direction */
@keyframes gradientAnimated {
    0% {
        background-position: 200% 100%;
    }
    100% {
        background-position: -200% -100%;
    }
}

.cta {
    display: flex;
    padding: 10px 45px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: white;
    transition: all 0.5s ease-in-out;

    animation: gradientAnimated 10s linear infinite;
    background: linear-gradient(90deg, #4B006E, #4B006E, #6c009e, #4B006E, #4B006E);
    background-size: 200% 100%;
    background-position: 100% 0;

    border: 2px solid transparent;
    border-image: linear-gradient(90deg, #4B006E, #4B006E, #6c009e, #4B006E, #4B006E) 1;
    border-image-slice: 1;

    box-shadow: 5px 4px 5px #320853;
    transform: skewX(-15deg);

    cursor: pointer;
}

.cta:focus {
   outline: none; 
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 8px 7px 0 #FFF000;
    transform: skewX(-15deg) translateY(-3px) translateX(-3px);
    background-position: 0 0;
    color: #FFF000;
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

.cta span {
    transform: skewX(15deg) 
  }

.cta span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
}

.cta:active {
    transform: translateY(3px) skewX(-15deg);
    transition: 0.15s;
    box-shadow: 7px 7px 7px #FFF000;
}

.cta:disabled {
    background-color: grey;
    color: #ffffff;
    transform: skewX(-15deg);
    box-shadow: 5px 4px 5px #320853;
    cursor: not-allowed;
}
/**************SVG****************/

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #FFF000;
    }
    100% {
        fill: white;
    }
}

.buttonCell {
    width: 40px !important;
    max-width: 40px !important;
}

.snowflake {
    position: absolute;
    aspect-ratio: 1/1;

    background: white;
    border-radius: 50%;
}