body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.topbar {
  width: 100%;
  height: 30px;
  -webkit-app-region: drag;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.topbar .topbar-inner {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar .topbar-inner button {
  height: 100%;
  width: 30px;
  border: none;
  background: transparent;
  outline: none;
  font-family: monospace;
  text-align: center;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

.topbar .topbar-inner button svg path {
  fill: #ffffff;
}

.topbar .topbar-inner button:hover {
  background: #2f3241;
}

.topbar .topbar-inner button:active {
  background: #6b708b;
}


/* Better Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #3f1055;
}

::-webkit-scrollbar-thumb {
  background: #6225e6;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7d41ff;
}
